*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #29292e;
  
}


#page{
  background-color: #f5f4f0;
  border: #d9d9d9;
  font-family: "Open Sans", sans-serif;
  max-width: 1120px;
  margin: auto;
  padding: 88px 80px 48px 80px;
  
}







