.title h1{
  font-size: 36px;
  font-weight: bold;
  color: #1b1b1b;
}

.title{
  margin-bottom: 40px;
}

#title-list p + h1{
  font-size: 32px;
  font-weight: bold;
  color: #333333;

}


#list li + p{
  font-size: 16px;
  text-align: left;
  
}





.title p, #title-list p {
  font-size: 16px;
  font-weight: bold;
  color: #e1624f;

}

ul li{
  font-size: 16px;
  font-weight: bold;
}

#list{
  list-style-position: inside; 
}

ul p, strong{
  font-size: 16px;
  font-weight: bold;
  
}




span1 {
  color: #0c51a7;

}

span2{
  color: #591b98;

}

span3{
  color: #e5245e;
}

span4{
  color: #e95e10;



}

#list ol + p{
text-align: center;

}




footer p{
  max-height: 24px;
  max-width: 206px;
  margin: 65px auto 48px;
  
  text-align: center;
}
